@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 18vh;
    background-image: linear-gradient(to left, #098da8, #098fab, #0991ad, #0894b0, #0896b3, #0897b4, #0898b6, #0899b7, #0899b7, #0899b7, #0899b7, #0899b7);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-light .navbar-nav .colorLink{
    color: rgb(3, 59, 58);
    font-size: 2rem;
    z-index: 2;
}

/* navegacion main index*/


.mainIndex{
    height: 160vh;
    background-image: linear-gradient(to left, #098da8, #098fab, #0991ad, #0894b0, #0896b3, #0897b4, #0898b6, #0899b7, #0899b7, #0899b7, #0899b7, #0899b7);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding-top: 10px;
}
.tituloIndex{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    color:rgb(255, 255, 255);
    font-size: 3rem;
    margin-top: 0px;
    text-align: center;
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
    background-color: #274f4d61;
    
}
.sloganIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Italiana', serif;    
}
/*
.tituloVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    margin-top: 0px;
    text-align: center;
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
    background-color: #274f4d3e;
}*/
.videoTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 78%;
    margin: 0 auto;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    backdrop-filter: blur(15px);
    font-family: 'Italiana', serif;
    background-color: #274f4d3e
}
.video{
    display: flex;
    justify-content: center;
}


/* navegacion main nosotros */
.mainNosotros{
    height: 140vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url(../assets/img/fondopizzeria.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding-top: 10px;
}
.tituloNosotros{
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
/* Navegacion Main carta*/
.mainCarta{
    display: flex;
    flex-direction: column;
    height: 190vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url(../assets/img/fondopizzeria.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin:0 auto;
    padding-top: 10px;
}
.tituloCarta{
    display: flex;
    flex-direction:column;
    justify-content: center;
    backdrop-filter: blur(30px);
    font-family: 'Italiana', serif;
    font-size: 10rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
}


.tituloDosCarta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
    background-color: #274f4d7d;
}
.tarjetasCartaFuno{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 50px;
}
.tarjetasCartaFdos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 30px;
}
.tarjetasCartaFtres{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 30px;
}
/*Navergacion Main Contacto */
.mainContacto{
    height: 180vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url(../assets/img/fondopizzeria.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 100vh;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    text-align: center;
    font-family: 'Italiana', serif;
    color: white;
}
.contacto h1{
    text-align: center;
}
.boxComentarios{
    text-align: center;
    background-color: #15425586;
}
.tituloMapa{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Italiana', serif;
    color: white;
    font-size: 3rem;
    margin-top: 100px;
}
.mapa{
    display: flex;
    align-items: end;
    justify-content: center;
}
/* navegacion Main Comentarios*/
.mainComentarios{
    height: 160vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url(../assets/img/fondopizzeria.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 100vh;
}
.tituloComentarios{
    text-align: center;
    font-family: 'Italiana', serif;
    color: white;
}
.boxComentarios{
    width: 50%;
    height: 38%;
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;
}

/*aqui comienza el footer*/

.footer{
    height: 30vh;
    text-align: center;
    background-color: #131600;
    color:whitesmoke;
    margin-top: auto;
}
.footerCarta{
    height: 20vh;
    text-align: center;
    background-color: #131600;
    color:whitesmoke;
}
.footer p{
    font-size: 1rem;
    font-family: "katibeh",sans-serif;
    padding-top: 10px;
}
.linkRedes{
    text-decoration: none;
}
.fa-brands{
    color: white;
    font-size: 5rem;
}

@media screen and (min-width: 0px) and (max-width: 768px)
    
    { 
        .header{
            height: initial;
        }
        .mainNosotros{
            height: initial;
        }
        .mainCarta{ 
        height: initial;
    }
        .tarjetasCartaFuno{
            flex-direction: column;
            align-items: center;
            margin-bottom: 1px;


        }
        .tarjetasCartaFdos{
            flex-direction: column;
            align-items: center;
            margin-top: 1px;
        }
        .tarjetasCartaFtres{
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 1px;
        }
        .card{
            margin-top: 10px;
        }
        
    }