@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 18vh;
    background-image: linear-gradient(to right, #10e4dd, #36d0d0, #397b8c, #245160, #154255);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-light .navbar-nav .colorLink{
    color: rgb(8, 190, 184);
    font-size: 2rem;
}

/* aqui termina la configuracion de la navegacion*/
.main{
    height: 160vh;
    background-image: url(../assets/img/fondopizzeria.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding-top: 10px;


}
.titulo{
    display: flex;
    justify-content: center;
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
    font-size: 2rem;
    color: white;
    text-align: center;
}


.tituloDos{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    color:rgb(52, 215, 175);
    font-size: 2rem;
    margin-top: 0px;
    text-align: center;
    backdrop-filter: blur(12px);
    font-family: 'Italiana', serif;
}

.card-body{
    text-align: center;
    margin: 0 auto;
    font-family: 'Italiana', serif;
    margin-top: 20px;

}
.promociones{
    display: flex;
    justify-content: center;
}
.carousel-item img{
    justify-content: center;
}

.tituloVideo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Italiana', serif;
    color: #282828;
    background-color: rgba(10, 207, 174, 0.424);
}
.video{
    display: flex;
    justify-content: center;
}

/*pagina de contacto*/
.contacto{
    text-align: center;
    font-family: 'Italiana', serif;
    color: white;
}
.contacto h1{
    text-align: center;
}
.mapa{
    width: 50%;
    height: 38%;
    display: flex;
    justify-content: center;
}
.tituloComentarios{
    text-align: center;
    font-family: 'Italiana', serif;
    color: white;
}
.boxComentarios{
    width: 50%;
    height: 38%;
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;

}
/*aqui termina la pagina contacto*/
/*aqui van las configuraciones de la pagina carta*/
.menu{
    height: 100vh;
    text-align: center;
}
/*aqui comienza el footer*/
.footer{
    text-align: center;
    background-color: #131600;
    color:whitesmoke;
    height: 20vh;
}
.footer p{
    font-size: 1rem;
    font-family: "katibeh",sans-serif;
    padding-top: 10px;
}
.linkRedes{
    text-decoration: none;
}
.fa-brands{
    color: white;
    font-size: 5rem;
}