@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 18vh;
  background-image: linear-gradient(to left, #098da8, #098fab, #0991ad, #0894b0, #0896b3, #0897b4, #0898b6, #0899b7, #0899b7, #0899b7, #0899b7, #0899b7);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header .navbar-light .navbar-nav .colorLink {
  color: rgb(3, 59, 58);
  font-size: 2rem;
  z-index: 2;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .header {
    height: initial;
  }
}
.mainIndex {
  height: 160vh;
  background-image: linear-gradient(to left, #098da8, #098fab, #0991ad, #0894b0, #0896b3, #0897b4, #0898b6, #0899b7, #0899b7, #0899b7, #0899b7, #0899b7);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .mainIndex {
    height: auto;
  }
}
.mainIndex .tituloIndex {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  font-size: 3rem;
  margin-top: 0px;
  text-align: center;
  backdrop-filter: blur(12px);
  font-family: "Italiana", serif;
  background-color: rgba(39, 79, 77, 0.3803921569);
}
.mainIndex .sloganIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  color: white;
  font-size: 1rem;
  font-family: "Italiana", serif;
}
.mainIndex .videoTitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 78%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  backdrop-filter: blur(15px);
  font-family: "Italiana", serif;
  background-color: rgba(39, 79, 77, 0.2431372549);
}
.mainIndex .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}
.mainNosotros {
  height: 140vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/fondopizzeria.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 10px;
}

.tituloNosotros {
  backdrop-filter: blur(12px);
  font-family: "Italiana", serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .mainNosotros {
    height: initial;
  }
}
.mainCarta {
  display: flex;
  flex-direction: column;
  height: 190vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/fondopizzeria.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding-top: 10px;
}
.mainCarta .tituloCarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(30px);
  font-family: "Italiana", serif;
  font-size: 10rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
}
.mainCarta .tituloDosCarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  backdrop-filter: blur(12px);
  font-family: "Italiana", serif;
  background-color: rgba(39, 79, 77, 0.4901960784);
}
.mainCarta .tarjetasCartaFuno {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 50px;
}
.mainCarta .tarjetasCartaFdos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 30px;
}
.mainCarta .tarjetasCartaFtres {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 30px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .mainCarta {
    height: initial;
  }
  .mainCarta .tarjetasCartaFuno {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
  }
  .mainCarta .tarjetasCartaFdos {
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
  }
  .mainCarta .tarjetasCartaFtres {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
  }
}

.mainContacto {
  height: 190vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/fondopizzeria.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 10px;
}
.mainContacto .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Italiana", serif;
  color: white;
  margin-top: 50px;
}
.mainContacto .contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.mainContacto .contacto form input[type=text],
.mainContacto .contacto form input[type=email],
.mainContacto .contacto form textarea {
  width: 70%;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.mainContacto .contacto form input[type=submit],
.mainContacto .contacto form input[type=reset] {
  width: 45%;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  color: #131600;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.mainContacto .contacto form input[type=submit]:hover,
.mainContacto .contacto form input[type=reset]:hover {
  background-color: #2f3605;
  color: white;
}
.mainContacto .contacto .boxComentarios {
  text-align: center;
  background-color: rgba(21, 66, 85, 0.8274509804);
}
.mainContacto .contacto .boxComentarios:hover {
  background-color: #99af0b;
  color: white;
}
.mainContacto .tituloMapa h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Italiana", serif;
  color: white;
  margin-top: 100px;
}
.mainContacto .mapa {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .mainContacto {
    height: initial;
  }
  .casillaComentario .boxComentarios {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-right: 15%;
    padding-left: 15%;
    margin-left: 15%;
  }
  .formNombre {
    width: 100%;
  }
}
.mainComentarios {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/fondopizzeria.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 10px;
}
.mainComentarios .tituloComentarios {
  text-align: center;
  font-family: "Italiana", serif;
  color: white;
}
.mainComentarios .opiniones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}
.mainComentarios .opiniones .cajaPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.mainComentarios .opiniones .cajaPrincipal .caja {
  background: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
}
.mainComentarios .opiniones .cajaPrincipal .caja .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainComentarios .opiniones .cajaPrincipal .caja .user img {
  border-radius: 80%;
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin-top: 2rem;
}
.mainComentarios .opiniones .cajaPrincipal .caja .user h3 {
  font-size: 2rem;
  color: greenyellow;
}
.mainComentarios .opiniones .cajaPrincipal .caja .user .stars {
  display: flex;
  justify-content: center;
}
.mainComentarios .opiniones .cajaPrincipal .caja .user .stars i {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.mainComentarios .opiniones .cajaPrincipal .caja .comentarios {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
.mainComentarios .opiniones .cajaPrincipal .caja .fa-solid .fa-fade {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
}

@media (max-width: 768px) {
  img {
    max-width: 80%;
  }
}
.footer {
  background-color: #274f4d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.footer p {
  font-size: 1rem;
  margin: 0;
}
.footer .ContenedorLink {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer .ContenedorLink .linkRedes {
  color: #36c9c0;
  font-size: 1.5rem;
  margin: 0 10px;
}
.footer .ContenedorLink .linkRedes:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=styles.css.map */
