.footer {
    height: 30vh;
    text-align: center;
    background-color: #131600;
    color: whitesmoke;
    margin-top: auto;
    p {
    font-size: 1rem;
    font-family: "katibeh", sans-serif;
    padding-top: 10px;
    }
    .linkRedes {
    text-decoration: none;
    }
    .fa-brands {
    color: white;
    font-size: 5rem;
    }
}