.header {
    height: 22vh;
    background-image: linear-gradient(to left, #098da8, #098fab, #0991ad, #0894b0, #0896b3, #0897b4, #0898b6, #0899b7, #0899b7, #0899b7, #0899b7, #0899b7);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .navbar-light {
    .navbar-nav {
        .colorLink {
        color: rgb(3, 59, 58);
        font-size: 2rem;
        z-index: 2;
        }
    }
    }
}
@media screen and (min-width: 0px) and (max-width: 768px)
    { 
        .header{
            height: initial;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .header {
            width: 200vh;
        }
    }